@font-face {
	font-family: "Outfit";
	font-style: normal;
	font-weight: 400 600 900;
	font-stretch: 100%;
	src: local("Outfit Thin"), local("Outfit-Thin"), url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("woff2"), url(../assets/fonts/outfit-thin.woff) format("woff");
	font-display: auto;
}

@font-face {
    font-family: "Young Serif", serif;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root {
    --white: hsl(0, 0%, 100%);
    --background-color: hsl(30, 54%, 90%);
    --card-background: hsl(30, 18%, 87%);
    --main-text: hsl(30, 10%, 34%);
    --h1-text: hsl(24, 5%, 18%);
    --h2-text: hsl(14, 45%, 36%);
    --prep-header: hsl(332, 51%, 32%);
    --prep-container: hsl(330, 100%, 98%);
    --font-header: "Young Serif", serif;
    --font-text: "Outfit", sans-serif;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--background-color);
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-text);
    font-weight: medium;
    color: var(--main-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--white);
    min-height: 100vh;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 800px;
}

.card img {
    max-width: 100%;
    border-radius: 1rem;
}

.card-header h1 {
    font-family: var(--font-header);
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--h1-text);
    margin-bottom: 0;
}

.prep-section {
    background-color: var(--prep-container);
    border-radius: 0.75rem;
    padding: 0.5rem;
}

.prep-section h2 {
    color: var(--prep-header);
    font-size: 1.3rem;
    margin-left: 1rem;
}

.prep-section li {
    padding-left: 0.75rem;
}

.prep-section li::marker {
    color: var(--prep-header);
}

.ingredients-section h2,
.instructions-section h2,
.nutrition-table h2 {
    font-family: var(--font-header);
    color: var(--h2-text);
    font-size: 2rem;
}

.ingredients-section li,
.instructions-section li {
    padding-left: 0.75rem;
}

.ingredients-section li::marker,
.instructions-section li::marker {
    color: var(--h2-text)
}

.instructions-section li::marker {
    font-weight: bold;
}

.nutrition-table {
    display: flex;
    flex-direction: column;
}

table {
    display: table;
    border-spacing: 3rem;
    border-collapse: collapse;
    text-indent: 0;
}

caption, th {
    text-align: start;
}

th, td {
    padding: 1.5rem;
}

th {
    font-weight: 400;
}

td {
    font-weight: bold;
    color: var(--h2-text);
}

tr:nth-of-type(1),
tr:nth-of-type(2),
tr:nth-of-type(3) {
    border-bottom: 2px solid var(--prep-container);
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: var(--prep-header);
}

.attribution a:hover { 
    color: var(--white);
}

@media (max-width: 500px) {
    body {
        background-color: var(--white);
    }

    .card {
        padding: 0;
        border-radius: none;
    }
   
    .card img {
        border-radius: none;
    }
}
   