@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  @font-face {
    font-family: "YoungSerif";
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
  }

  @font-face {
    font-family: "Outfit";
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  }

  :root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);
    --clr-brown-800: hsl(14, 45%, 36%);
    --clr-rose-800: hsl(332, 51%, 32%);
    --clr-rose-50: hsl(330, 100%, 98%);

    --ff-heading: "YoungSerif", serif;
    --ff-body: "Outfit", sans-serif;

    --fs-100: 1rem;
    --fs-150: 1.25rem;
    --fs-200: 1.5rem;
    --fs-300: 2rem;
  }

  :root {
    /* primitives */
    --text-main: var(--clr-stone-600);
    --text-heading: var(--clr-stone-900);
    --text-subheading: var(--clr-brown-800);
    --text-card-heading: var(--clr-rose-800);
    --text-strong: var(--clr-stone-900);

    --background-body: var(--clr-stone-100);
    --background-main: var(--clr-stone-150);
    --background-card: var(--clr-rose-50);

    --fs-heading: var(--fs-300);
    --fs-subheading: var(--fs-200);
    --fs-body: var(--fs-100);
    --fs-card-heading: var(--fs-150);

    --ff-subheading: var(--ff-body);

    --border-radius-1: 0.75rem;
    --border-radius-2: 1rem;
  }

  html {
    font-family: var(--ff-body);
    line-height: 1.5;
  }

  body {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-body);
    color: var(--text-main);
    background-color: var(--background-body);
    overflow-x: hidden;
  }

  #main {
    background-color: var(--clr-white);
    border-radius: var(--border-radius-2);
    max-width: 720px;
    margin: 0 auto;
  }

  h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    color: var(--text-heading);
  }

  h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-subheading);
    color: var(--text-subheading);
  }

  strong {
    color: var(--text-heading);
  }

  li::marker {
    color: var(--text-subheading);
    font-weight: 700;
  }

  li {
    padding-left: 1rem;
  }

  th {
    font-weight: 400;
  }

  td {
    color: var(--text-subheading);
    font-weight: 700;
  }

  img {
    border-radius: var(--border-radius-2);
  }
}

@layer special {
  .wrapper {
    padding: 0.75rem 2rem;
  }

  .card {
    background-color: var(--background-card);
    padding: 1.5rem;
    border-radius: var(--border-radius-1);
  }

  .card-heading {
    font-family: var(--ff-subheading);
    color: var(--text-card-heading);
    font-size: var(--fs-card-heading);
  }

  .card-list::marker {
    color: var(--text-card-heading);
  }

  table {
    width: 600px;
    border-collapse: collapse;
  }

  tbody {
    width: 100%;
  }

  caption {
    padding-top: 1.5rem;;
    text-align: left;
  }

  tr:nth-child(-n + 3) {
    border-bottom: 2px solid var(--background-card);
  }

  th {
    text-align: left;
  }

  th, td {
    padding: 1rem 15rem 1rem 0;
  }

  @media (width < 500px) {
    #main {
      border-radius: 0;
      margin: 0;
      padding: 0;
    }
  
    img {
      border-radius: 0;
    }

    table {
      width: 300px;
      border-collapse: collapse;
    }
  
    th, td {
      padding: 1rem 1rem 0.5rem 1rem;
    }
  }
}

.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: var(--text-card-heading);
}

.attribution a:hover {
  color: var(--background-card);
}


